@import url("https://fonts.googleapis.com/css2?family=Amiri&family=BIZ+UDMincho&family=Cairo:wght@300&family=Josefin+Sans:wght@200&family=Open+Sans:wght@300&family=Rakkas&family=Ramaraja&family=Righteous&family=Sansita+Swashed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiri", serif;
  font-family: "BIZ UDMincho", serif;
  font-family: "Cairo", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

body {
  background-color: rgb(208, 238, 242);
}

.nav1 {
  background-color: hsl(187, 46%, 68%);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav1 a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav1 a:hover {
  background-color: black;
  color: #ddd;
}

/* Add a color to the active/current link */
.nav1 a.active {
  background-color: #ddd;
  color: black;
}

.navbar-darkbg-dark {
  font-family: "Amiri", serif;
  font-family: "Ramaraja", serif;
  font-family: "Righteous", cursive;
  font-family: "Sansita Swashed", cursive;
}

.nav-cont {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(228, 230, 120);
  border-radius: 5px;
}
.nav-item {
  padding: 1em;
}

.btnbtn-secondarydropdown-toggle {
  background-color: rgb(235, 216, 109);
  color: black;
}

.buttonss {
  padding: 0;
  border: none;
  background: none;
}
.osh {
  color: rgb(40, 40, 49);
  text-indent: 50px;
  font-family: "Amiri", serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rakkas", cursive;
  font-family: "Ramaraja", serif;
  font-family: "Righteous", cursive;
  font-family: "Sansita Swashed", cursive;
}

.container {
  display: flex;
  margin-top: 7%;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 7%;
}

* contact section */ .contact-box {
  color: #000;
  text-align: center;
  box-shadow: rgba(237, 230, 203, 0.5);
  padding: 20px 0 30px 0;
  background: #ede6cb;
}

.contact-box i {
  font-size: 32px;
  color: #fff;
  border-radius: 50%;
}

.contact-box h3 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}

.contact-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14;
  margin-bottom: 0;
}

.contact button {
  background: #ede6cb;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.contact button:hover {
  background: #716844;
  color: #fff;
}

.footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 40px 0;
  background-color: rgb(217, 199, 92);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: rgb(28, 28, 72);
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid rgb(28, 28, 72);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
  color: rgb(35, 35, 91);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(28, 102, 15);
  font-weight: bold;
}

.contain {
  height: 100vh;
  width: 100%;
  background: rgb(240, 231, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  margin-bottom: 5%;
}

.title {
  font-size: 65px;
  font-weight: 500;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  background: rgb(4, 4, 62);
}

.contain form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  /* margin: 20px 0 12px 0; */
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(118, 113, 113);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 3px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: rgb(4, 131, 31);
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 800;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-around;
}
.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category .dot {
  font-weight: 800;
  height: 18px;
  width: 18px;
  background: rgb(81, 83, 81);
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: rgb(4, 131, 31);
  background: navy;
}

form input[type="radio"] {
  display: none;
}
form .buttonza {
  height: 45px;
  margin: 45px 0;
}
form .buttonza input {
  height: 100%;
  width: 100%;
  outline: none;
  color: rgb(28, 28, 72);
  border: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 1px;
  background: rgb(4, 131, 31);
}
form .buttonza input:hover {
  background: #ddd;
}

@media (max-width: 584px) {
  .contain {
    max-width: 100%;
  }
  form .user-details .input-box {
    /* margin: 20px 0 12px 0; */
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category {
    width: 100%;
  }
  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-text-container {
  margin: 0 20px;
}
.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* padding-bottom: 35px; */
  object-fit: cover;
}
